@import 'var.scss';

body{
  background-color: #d6d2d2;
}
.header{
  width: 1000px;
  height:300px;
  background-color: $color-primary;
}

.footer{
  width: 1000px;
  height:20px;
  background-color: $color-sencond;
}

.header li{
  color: lighten($color-text-primary,40%);

}
